* text=auto

# LF (Linux Scripts)
linux/** text eol=lf
automation/scripts/linux/** text eol=lf
linux/bin/** binary eol=lf

# CRLF (Windows Scripts)
windows/** text eol=crlf
automation/scripts/windows/** text eol=crlf
windows/bin/** binary eol=crlf
